<!-- home.component.html -->
<div class="home">
  <!-- <h1 style="text-align: center">Home</h1> -->
  <!-- Black Friday Offer -->
  <div class="offer-tile black-friday-offer">
    <h2>Black Friday Offers</h2>
    <p>Get exclusive deals on selected items!</p>
  </div>

  <!-- Christmas Special -->
  <div class="offer-tile christmas-special">
    <h2>Christmas Specials</h2>
    <p>Enjoy festive discounts on our holiday collection!</p>
  </div>

  <div class="container book-tiles">
    <div *ngFor="let book of books.slice(0, 6)" class="book-tile">
      <img [src]="book.imageUrl" alt="{{ book.title }}" />
      <h2>{{ book.title }}</h2>
      <div>
        <h4>$ &nbsp;{{ book.price }}</h4>
      </div>
      <div>
        <h4>Special Offer</h4>
      </div>

      <button class="button1" (click)="viewItemDetails(book)">View Item</button>
      <button class="button2" (click)="addToCart(book.bookid)">Add to Cart</button>
    </div>
  </div>

  <!-- About Section -->
  <div class="container about-section" style="background-image: url('../../../assets/images/bk.jpg');color: white;font-weight: 700;">
    <h2 style="color: #681414; text-align: center;">About Us</h2>
    <p style="color: #4f0584; text-align: center; font-size: 16px; line-height: 1.6;">
      Welcome to VirtualBookstore.com, your online destination for a diverse collection of books catering to readers of all ages and interests. Established in [year], we embarked on a mission to bring the joy of reading to book enthusiasts worldwide.
      At Virtual Bookstore, we believe in the power of literature to inspire, educate, and connect people. Our carefully curated selection spans various genres, from classic literature and fiction to non-fiction, children's books, and beyond. We are passionate about fostering a love for reading and making quality literature accessible to everyone.
  
      <br><br>
  
      What sets us apart is our commitment to providing a seamless and enjoyable online shopping experience. Our user-friendly platform allows you to explore our extensive catalog effortlessly. Each book is handpicked to ensure a blend of popular titles and hidden gems, fostering a diverse reading experience for our customers.
      We pride ourselves on our dedication to customer satisfaction. Whether you're seeking a literary masterpiece or a captivating children's story, our knowledgeable team is here to assist you. Feel free to reach out to us at info@virtualbookstore.com or (+353) 123-1222 for personalized recommendations or any assistance you may need.
      As part of our commitment to the global reading community, we regularly host virtual book clubs, author events, and promotions to engage with our customers. Follow us on social media to stay updated on the latest literary news, book releases, and community events.
  
      <br><br>
  
      Thank you for choosing Virtual Bookstore as your literary companion. Join us on this reading journey, and let's explore the magical world of books together. Happy reading!
    </p>
  </div>
  </div>

  <!-- Contact Us Section -->
  <div class="container contact-us-section" style="background-color: #ef9696; font-weight: 700; padding: 20px; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
    <h2 style="color: #681414; text-align: center;">Contact Us</h2>
    <p class style="color: #4f0584; text-align: center;">Have questions or need assistance?<br>Feel free to reach out to us.</p>
    <div class="row">
      <div class="col text-left">
        <p style="color: #4f0584;">Email: <a href="mailto:info@virtualbookstore.com" style="color: #0088cc;">info@virtualbookstore.com</a></p>
      </div>
      <div class="col text-center">
        <p style="color: #4f0584;">Phone: (+353) 123-1222</p>
      </div>
      <div class="col text-right">
        <p style="color: #4f0584;">Address: Bookstore, Dublin 2, Ireland</p>
      </div>
    </div>
  </div>
  