.body {
    font-family: Arial, sans-serif;
    background-color: #0e0e70;
  }


/* home.component.css */
.book-tiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: hidden;
}

.book-tile {
  width: calc(33% - 30px); /* 25% width for 4 tiles in a row with 20px margin between tiles */
  margin: 15px;
  padding: 10px;
  border: 2px solid #ddd;
  text-align: center;
  overflow: hidden; /* Hide overflowing content */
    word-wrap: break-word; /* Break words to prevent overflow */
}

.book-tile img {
  max-width: 100%;
  max-height: 300px;
}

.home {
  min-height: 100vh; /* Ensure the content takes at least the full viewport height */
  display: flex;
  flex-direction: column;
}

.footer {
  margin-top: auto; /* Push the footer to the bottom */
}

.offer-tile {
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
  transition: transform 0.3s ease-in-out;
  text-align: center;
}

.black-friday-offer {
  background-color: #000;
  color: #fff;
}

.christmas-special {
  background-color: #e74c3c;
  color: #fff;
}

/* Add hover effect for sliding */
.offer-tile:hover {
  transform: scale(1.05);
}

.button1 {
  padding: 5px 10px;
  background-color: #00aaff;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-left: 5px;
}

.button2 {
  padding: 5px 10px;
  background-color: #c32270;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-left: 5px;
}


.star {
  font-size: 24px;
  color: #ffd700;
  cursor: pointer;
}

.full {
  color: #ffac33;
}

.buttons {
  margin-top: 10px;
}