<!-- home.component.html -->
<div class="home">
  <!-- <h1 style="text-align: center">Home</h1> -->
  <!-- Black Friday Offer -->
  <div class="offer-tile black-friday-offer">
    <h2>Black Friday Offers</h2>
    <p>Get exclusive deals on selected items!</p>
  </div>

  <!-- Christmas Special -->
  <div class="offer-tile christmas-special">
    <h2>Christmas Specials</h2>
    <p>Enjoy festive discounts on our holiday collection!</p>
  </div>

  <div class="container book-tiles">
    <div *ngFor="let book of books.slice(0, 6)" class="book-tile">
      <img [src]="book.imageUrl" alt="{{ book.title }}" />
      <h2>{{ book.title }}</h2>
      <div>
        <h4>$ &nbsp;{{ book.price }}</h4>
      </div>
      <div>
        <h4>Special Offer</h4>
      </div>

      <button class="button1" (click)="viewItemDetails(book)">View Item</button>
      <button class="button2" (click)="addToCart(book.bookid)">Add to Cart</button>
    </div>
  </div>

  <!-- About Section -->
  <div class="container about-section" style="background-image: url('../../../assets/images/bk.jpg');color: white;font-weight: 700;">
    <h2 style="color: #241468;">About Us</h2>
    <p style="text-align: center;color: #241468;">Welcome to our virtual bookstore, where you can explore a wide range of books for all ages and interests. Our mission is to provide quality literature to book enthusiasts around the globe. Happy reading!</p>
  </div>

  <!-- Contact Us Section -->
  <div class="container contact-us-section"  style="background-color: chocolate;font-weight: 700;">
    <h2>Contact Us</h2>
    <p class="pp">Have questions or need assistance? Feel free to reach out to us.</p>

    <div class="row">
      <div class="col text-left">
        <p>Email: info@virtualbookstore.com</p>
      </div>
      <div class="col text-center">
        <p>Phone: (123) 456-7890</p>
      </div>
      <div class="col text-right">
        <p>Address: Your Address</p>
      </div>
    </div>
  </div>
</div>
