<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link rel="stylesheet" href="styles.css"> -->
  <title>My Book Store</title>
</head>
<body>
  <header>
    <nav class="toolbar">
      <h1 [routerLink]="['/home']" ><i class="fas fa-home" style="cursor: pointer; text-align: center;" ></i>&nbsp; &nbsp;Home</h1>
      <h1 >&nbsp;Hi, {{this.user.username}} &nbsp;Welcome to My Book Store</h1>
      <div class="buttons">
        <button [routerLink]="['/search']"> <i class="fas fa-search"></i>&nbsp; &nbsp; Search</button>
        <button *ngIf="this.user.role != 'admin'" [routerLink]="['/cart']"><i class="fas fa-shopping-cart"></i>&nbsp; &nbsp;Cart</button>
        <button *ngIf="this.user.role == 'admin' && isAuthenticated()" [routerLink]="['/summary']"><i class="fas fa-admin"></i>&nbsp; &nbsp;Summary</button>

        <button *ngIf="!isAuthenticated()" [routerLink]="['/login']"> <i class="fas fa-user"></i>&nbsp; &nbsp;Login</button>
       <button *ngIf="isAuthenticated()" (click)="logout()">Logout</button>
        <!-- <button [routerLink]="['/categories']">  <i class="fas fa-th"></i>&nbsp; &nbsp;Categories</button> -->
      </div>
    </nav>
  </header>

  <main>
    <!-- Your main content here -->
    <router-outlet></router-outlet>
  </main>

  <footer>
    <div class="footer-content">
      <p>&copy; 2023 All Rights Reserved.</p>
      <!-- <div class="social-links">
        <a href="https://www.facebook.com/universityofkelaniyasl" target="_blank" aria-label="facebook">
          <i class="fa fa-facebook fa-lg" aria-hidden="true"></i>
        </a>
        <a href="https://twitter.com/ukelaniya" target="_blank" aria-label="twitter">
          <i class="fa fa-twitter fa-lg" aria-hidden="true"></i>
        </a>
        <a href="https://www.youtube.com/user/UniversityofKelaniya" target="_blank" aria-label="Youtube">
          <i class="fa fa-youtube fa-lg" aria-hidden="true"></i>
        </a>
        <a href="https://www.linkedin.com/company/university-of-kelaniya" target="_blank" aria-label="LinkedIn">
          <i class="fa fa-linkedin fa-lg" aria-hidden="true"></i>
        </a>
        <a href="https://www.instagram.com/university_of_kelaniya" target="_blank" aria-label="Instagram">
          <i class="fa fa-instagram fa-lg" aria-hidden="true"></i>
        </a>
      </div> -->
    </div>
  </footer>
</body>
</html>
