<!-- itemdetail.component.html -->
<div class="home">
<div class="item-detail-container" *ngIf="book">
    <div class="card">
      <div class="image-container">
        <img [src]="book.imageUrl" alt="{{ book.title }}" />
      </div>
      <div class="details-container">
        <h1>{{ book.title }}</h1>
        <p>{{ book.description }}</p>
        <div style="display: flex; justify-content: space-between;margin-left: 15%;margin-right: 15%;">
          <div>
            <h6>$ &nbsp;{{ book.price }}</h6>
          </div>
          <div>
            <h6>Rating: &nbsp;{{ book.rating }}</h6>
          </div>
          
        </div>

        <div *ngIf="book && book.author && book.author.length > 0">
          <h6>Authors:</h6>
          <ul>
            <li *ngFor="let author of book.author">{{ author }}</li>
          </ul>
        </div>
        <!-- Display reviews if available -->
  <div *ngIf="book.reviews && book.reviews.length > 0">
    <h6>Reviews:</h6>
    <ul>
      <li *ngFor="let review of book.reviews">
        <p>{{ review.reviewerName }}:&nbsp;{{ review.reviewText }}</p>
        
      </li>
    </ul>
  </div>

  <!-- <button class="button1" (click)="viewItemDetails(book)">View Item</button> -->
      <button class="button2" (click)="addToCart(book.bookid)">Add to Cart</button>
      <button class="button2">Add Review & Rating</button>
      </div>
    </div>
  </div>

</div>
  