<!-- search.component.html -->
<div class="home">
<div style="display: flex; justify-content: center;">
  <div
    style="
      text-align: center;
      margin: 25px;
      background-color: #EA1179;
      padding: 10px;
      font-size: large;
      max-width: 60%;
      max-height: 50%;
      color: white;
    "
  >
    <label for="category">Select Category: &nbsp; &nbsp; &nbsp; &nbsp;</label>
    <select id="category" [(ngModel)]="selectedCategory">
      <!-- <option value="all">All Categories</option> -->
      <option *ngFor="let category of categories" [value]="category">
        {{ category }}
      </option>
    </select>
    &nbsp; &nbsp; &nbsp; &nbsp;
    <label for="bookName">Search by Book Name: &nbsp; &nbsp; &nbsp; &nbsp;</label>
    <input type="text" id="bookName" [(ngModel)]="searchTerm" />
    &nbsp; &nbsp; &nbsp; &nbsp;
    <button (click)="search()">Search</button>
  </div>
</div>




<!-- Display search results here -->
<div class="item-detail-container">
  <div class="book-tiles">
    <div *ngFor="let book of filteredBooks" class="book-tile">
      <img [src]="book.imageUrl" alt="{{ book.title }}" />
      <h2>{{ book.title }}</h2>
      <div style="display: flex; justify-content: space-between;margin-left: 25%;margin-right: 25%;">
        <div>
          <h4>$ &nbsp;{{ book.price }}</h4>
        </div>
        <div>
          <h4>Rating: &nbsp;{{ book.rating }}</h4>
        </div>
        <!-- <ngx-star-rating formControlName="rating2" [id]="'rating2'" [disabled] ="true"></ngx-star-rating> -->
      </div>
      
      <!-- <star-rating [starType]="'svg'" [rating]=4.0>{{book.rating}}</star-rating> -->
   
      <button class="button1" (click)="viewItemDetails(book)">View Item</button>
      <button class="button2" (click)="addToCart(book.bookid)">Add to Cart</button>
      </div>
    </div>
  </div>
</div>


